/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
	70% {
		color: white;
	}

	to {
		color: white;
		background-color: orange;
	}
}

@keyframes blink-critical {
	70% {
		color: white;
	}

	to {
		color: white;
		background-color: red;
	}
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
}

/* The whole bar */
window#waybar {
	background-color: rgba(31, 29, 46, 0.7);
	/* font-family: FiraCode Nerd Font; */
	font-family: CaskaydiaMono NF;
	font-size: 15px;
	border-radius: 8px;
}

.modules-left {
	padding-left: 0.5em;
}

.modules-right {
	padding-right: 0.5em;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#backlight,
#pulseaudio,
#temperature {
	/* padding-left: 0.5em; */
	/* padding-right: 0.5em; */
	padding-left: 8px;
	padding-right: 8px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */
#clock {
	font-weight: bold;
	font-size: 15px;
}


#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.warning {
	color: orange;
}

#battery.critical {
	color: red;
}

#battery.warning.discharging {
	color: orange;
}

#battery.critical.discharging {
	color: red;
	animation-name: blink-critical;
	animation-duration: 2s;
}

#cpu {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#cpu.warning {
	color: orange;
}

#cpu.critical {
	color: red;
	animation-name: blink-critical;
	animation-duration: 2s;
}

#memory {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#memory.warning {
	color: orange;
}

#memory.critical {
	color: red;
	animation-name: blink-critical;
	animation-duration: 2s;
}

#temprature {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#temprature.warning {
	color: orange;
}

#temprature.critical {
	color: red;
	animation-name: blink-critical;
	animation-duration: 2s;
}

#mode {
	background: #64727D;
	border-top: 2px solid white;
	/* To compensate for the top border and still have vertical centering */
	padding-bottom: 2px;
}

#network {
	/* No styles */
}

#network.disconnected {
	color: orange;
}

#pulseaudio {
	/* No styles */
}

#pulseaudio.muted {
	/* No styles */
}

#custom-spotify {
	color: rgb(102, 220, 105);
}

#temperature {
	/* No styles */
}

#temperature.critical {
	color: red;
}

#tray {
	padding-left: 6px;
	padding-right: 4px;
}

#window {
	font-weight: bold;
	font-size: 15px;
	padding-left: 0.25em;
	padding-right: 0.4em;
}

/* #workspaces button { */
/* 	padding: 0 0.5em; */
/* 	background-color: @surface0; */
/* 	color: @text; */
/* 	margin: 0.25em; */
/* } */
/**/
/* #workspaces button.empty { */
/* 	color: @overlay0; */
/* } */
/* #workspaces button.active { */
/* 	color: green; */
/* } */
/* #workspaces button.urgent { */
/* 	color: red; */
/* } */

#workspaces {
	margin: 3px 7px 3px 3px;
	border: 0px;
	font-size: 15px;
	color: #e0def4;
}

#workspaces button {
	border: 0px;
	margin: 2px 2px 2px 0px;
	padding: 0px 6px 0px 6px;
	color: #e0def4;
	transition: all 0.1s ease-in-out;
}

#workspaces button.visible {
	color: #302e44;
	background: #eeeaf6;
	border-radius: 4px;
}

#workspaces button.active {
	color: #302e44;
	background: #a0fea0;
	border-radius: 4px;
}

#workspaces button:hover {
	color: #302e44;
	background: #eeeaf6;
	border-radius: 15px;
}

#backlight-slider slider {
	min-height: 0px;
	min-width: 100px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-height: 5px;
	min-width: 100px;
	border-radius: 5px;
	background-color: black;
}

#backlight-slider highlight {
	min-width: 100px;
	border-radius: 5px;
	background-color: red;
}
